<center>
    <img src="https://gitlab.com/ibm/skills-network/courses/placeholder101/-/raw/master/labs/module%201/images/IDSNlogo.png"  width="300" alt="cognitiveclass.ai logo"  />
</center>

<h1 align=center><font size = 5>Assignment: SQL Notebook for Peer Assignment</font></h1>

Estimated time needed: **60** minutes.

## Introduction

Using this Python notebook you will:

1.  Understand the Spacex DataSet
2.  Load the dataset  into the corresponding table in a Db2 database
3.  Execute SQL queries to answer assignment questions

## Overview of the DataSet

SpaceX has gained worldwide attention for a series of historic milestones.

It is the only private company ever to return a spacecraft from low-earth orbit, which it first accomplished in December 2010.
SpaceX advertises Falcon 9 rocket launches on its website with a cost of 62 million dollars wheras other providers cost upward of 165 million dollars each, much of the savings is because Space X can reuse the first stage.

Therefore if we can determine if the first stage will land, we can determine the cost of a launch.

This information can be used if an alternate company wants to bid against SpaceX for a rocket launch.

This dataset includes a record for each payload carried during a SpaceX mission into outer space.

### Download the datasets

This assignment requires you to load the spacex dataset.

In many cases the dataset to be analyzed is available as a .CSV (comma separated values) file, perhaps on the internet. Click on the link below to download and save the dataset (.CSV file):

<a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2021-01-01" target="_blank">Spacex DataSet</a>

### Store the dataset in database table

**it is highly recommended to manually load the table using the database console LOAD tool in DB2**.

<img src = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/images/spacexload.png">

Now open the Db2 console, open the LOAD tool, Select / Drag the .CSV file for the  dataset, Next create a New Table, and then follow the steps on-screen instructions to load the data. Name the new table as follows:

**SPACEXDATASET**

**Follow these steps while using old DB2 UI which is having Open Console Screen**

**Note:While loading Spacex dataset, ensure that detect datatypes is disabled. Later click on the pencil icon(edit option).**

1.  Change the Date Format by manually typing DD-MM-YYYY and timestamp format as DD-MM-YYYY HH\:MM:SS

2.  Change the PAYLOAD_MASS\_\_KG\_  datatype  to INTEGER.

<img src = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/images/spacexload2.png">

**Changes to be considered when having DB2 instance with the new UI having Go to UI screen**

*   Refer to this insruction in this <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Sign%20up%20for%20IBM%20Cloud%20-%20Create%20Db2%20service%20instance%20-%20Get%20started%20with%20the%20Db2%20console/instructional-labs.md.html?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2021-01-01">link</a> for viewing  the new  Go to UI screen.

*   Later click on **Data link(below SQL)**  in the Go to UI screen  and click on **Load Data** tab.

*   Later browse for the downloaded spacex file.

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/images/browsefile.png" width="800"/>

*   Once done select the schema andload the file.

 <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/images/spacexload3.png" width="800"/>

In [ ]:
!pip install sqlalchemy==1.3.9
!pip install ibm_db_sa
!pip install ipython-sql

### Connect to the database

Let us first load the SQL extension and establish a connection with the database

In [ ]:
%load_ext sql

In [30]:
import pandas as pd

**DB2 magic in case of old UI service credentials.**

In the next cell enter your db2 connection string. Recall you created Service Credentials for your Db2 instance before. From the **uri** field of your Db2 service credentials copy everything after db2:// (except the double quote at the end) and paste it in the cell below after ibm_db_sa://

<img src ="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_edX/images/URI.jpg">

in the following format

**%sql ibm_db_sa://my-username:my-password\@my-hostname:my-port/my-db-name**

**DB2 magic in case of new UI service credentials.**

<img src ="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/images/servicecredentials.png" width=600>  

*   Use the following format.

*   Add security=SSL at the end

**%sql ibm_db_sa://my-username:my-password\@my-hostname:my-port/my-db-name?security=SSL**

In [24]:
import os
path='/datalab/'
os.chdir(path)
!pwd

/datalab

In [26]:
import os
import sqlite3
con = sqlite3.connect(path+'SpaceX.db')
cursorObj = con.cursor()

In [85]:
cursorObj.execute("SELECT * FROM Spacex ;")
rows = cursorObj.fetchall()
df=pd.DataFrame(rows,columns=['Date','Time','Booster_Version','Launch_Site','Payload','PAYLOAD_MASS__KG_','Orbit','Customer','Mission_Outcome','Landing _Outcome'])
df

          Date      Time  ... Mission_Outcome     Landing _Outcome
0   2010-04-06  18:45:00  ...         Success  Failure (parachute)
1   2010-08-12  15:43:00  ...         Success  Failure (parachute)
2   2012-05-22  07:44:00  ...         Success           No attempt
3   2012-08-10  00:35:00  ...         Success           No attempt
4   2013-01-03  15:10:00  ...         Success           No attempt
..         ...       ...  ...             ...                  ...
95  2020-05-11  23:24:23  ...         Success              Success
96  2020-11-16  00:27:00  ...         Success              Success
97  2020-11-21  17:17:08  ...         Success              Success
98  2020-11-25  02:13:00  ...         Success              Success
99  2020-06-12  16:17:08  ...         Success              Success

[100 rows x 10 columns]

In [58]:
cursorObj.execute("SELECT Distinct Launch_site FROM Spacex;")
rows = cursorObj.fetchall()
for row in rows: ## Let's show all the rows
  print(row)

('CCAFS LC-40',)
('VAFB SLC-4E',)
('KSC LC-39A',)
('CCAFS SLC-40',)

    Launch_site
0   CCAFS LC-40
1   VAFB SLC-4E
2    KSC LC-39A
3  CCAFS SLC-40

## Tasks

Now write and execute SQL queries to solve the assignment tasks.

### Task 1

##### Display the names of the unique launch sites  in the space mission

In [49]:
cursorObj.execute("SELECT Distinct Launch_site FROM Spacex;")
rows = cursorObj.fetchall()
df=pd.DataFrame(rows,columns=['Launch_site'])
df

    Launch_site
0   CCAFS LC-40
1   VAFB SLC-4E
2    KSC LC-39A
3  CCAFS SLC-40

### Task 2

##### Display 5 records where launch sites begin with the string 'CCA'

In [64]:
cursorObj.execute("SELECT * FROM Spacex WHERE Launch_site  LIKE 'CCA%' ;")
rows = cursorObj.fetchall()
df=pd.DataFrame(rows,columns=['Date','Time','Booster_Version','Launch_Site','Payload','PAYLOAD_MASS__KG_','Orbit','Customer','Mission_Outcome','Landing _Outcome'])
df.head()

         Date      Time  ... Mission_Outcome     Landing _Outcome
0  2010-04-06  18:45:00  ...         Success  Failure (parachute)
1  2010-08-12  15:43:00  ...         Success  Failure (parachute)
2  2012-05-22  07:44:00  ...         Success           No attempt
3  2012-08-10  00:35:00  ...         Success           No attempt
4  2013-01-03  15:10:00  ...         Success           No attempt

[5 rows x 10 columns]

### Task 3

##### Display the total payload mass carried by boosters launched by NASA (CRS)

In [66]:
cursorObj.execute("SELECT Customer as [boosters launched],	SUM(PAYLOAD_MASS__KG_) AS [total payload mass] FROM Spacex WHERE Customer='NASA (CRS)' Group by Customer ;")
rows = cursorObj.fetchall()
df=pd.DataFrame(rows,columns=['boosters launched','total payload mass'])
df

  boosters launched  total payload mass
0        NASA (CRS)               45596

### Task 4

##### Display average payload mass carried by booster version F9 v1.1

In [72]:
cursorObj.execute('''SELECT Booster_Version ,	AVG(PAYLOAD_MASS__KG_) AS [average payload mass] FROM Spacex WHERE Booster_Version ='F9 v1.1'
                     Group by Booster_Version ;''')
rows = cursorObj.fetchall()
df=pd.DataFrame(rows,columns=['Booster_Version','average payload mass'])
df

  Booster_Version  average payload mass
0         F9 v1.1                2928.4

### Task 5

##### List the date when the first succesful landing outcome in ground pad was acheived.

*Hint:Use min function*

In [79]:
cursorObj.execute('''SELECT   min(DATE) as MinDate FROM Spacex WHERE  Landing_Outcome='Success (ground pad)' 
ORDER by date ASC LIMIT 1;''')
rows = cursorObj.fetchall()
df=pd.DataFrame(rows,columns=['MinDate'])
df

      MinDate
0  2015-12-22

### Task 6

##### List the names of the boosters which have success in drone ship and have payload mass greater than 4000 but less than 6000

In [87]:
cursorObj.execute('''select "Booster_Version" 
                    from Spacex where Landing_Outcome='Success (drone ship)'
                     and (PAYLOAD_MASS__KG_ BETWEEN 4000 and 6000)''')
rows = cursorObj.fetchall()
df=pd.DataFrame(rows,columns=['BOOSTER_VERSION'])
df

  BOOSTER_VERSION
0     F9 FT B1022
1     F9 FT B1026
2  F9 FT  B1021.2
3  F9 FT  B1031.2

### Task 7

##### List the total number of successful and failure mission outcomes

In [89]:
cursorObj.execute('''select count(MISSION_OUTCOME) as missionoutcomes from SPACEX GROUP BY MISSION_OUTCOME''')
rows = cursorObj.fetchall()
df=pd.DataFrame(rows,columns=['missionoutcomes'])
df

   missionoutcomes
0                1
1               97
2                1
3                1

### Task 8

##### List the   names of the booster_versions which have carried the maximum payload mass. Use a subquery

In [91]:
cursorObj.execute('''select Booster_Version, as [booster version] from SPACEX where PAYLOAD_MASS__KG_=(select max(PAYLOAD_MASS__KG_) from SPACEX)''')
rows = cursorObj.fetchall()
df=pd.DataFrame(rows,columns=['booster version'])
df

   booster version
0    F9 B5 B1048.4
1    F9 B5 B1049.4
2    F9 B5 B1051.3
3    F9 B5 B1056.4
4    F9 B5 B1048.5
5    F9 B5 B1051.4
6    F9 B5 B1049.5
7   F9 B5 B1060.2
8   F9 B5 B1058.3
9    F9 B5 B1051.6
10   F9 B5 B1060.3
11  F9 B5 B1049.7

### Task 9

##### List the failed landing_outcomes in drone ship, their booster versions, and launch site names for the in year 2015

In [115]:
cursorObj.execute('''select Date, Booster_Version,Launch_Site,Landing_Outcome from SPACEX 
                     where Landing_Outcome= 'Failure (drone ship)' and date like'2015%';''')

rows = cursorObj.fetchall()
df=pd.DataFrame(rows,columns=['Date','Booster_Version','Launch_Site','Landing_Outcome'])
df

         Date Booster_Version  Launch_Site       Landing_Outcome
0  2015-10-01   F9 v1.1 B1012  CCAFS LC-40  Failure (drone ship)
1  2015-04-14   F9 v1.1 B1015  CCAFS LC-40  Failure (drone ship)

### Task 10

##### Rank the count of landing outcomes (such as Failure (drone ship) or Success (ground pad)) between the date 2010-06-04 and 2017-03-20, in descending order

In [119]:
cursorObj.execute('''SELECT Landing_Outcome FROM SPACEX
 WHERE Landing_Outcome= 'Failure (drone ship)' or Landing_Outcome= 'Success (ground pad)'  and (DATE BETWEEN '2010-06-04' AND '2017-03-20') ORDER BY DATE DESC;''')
rows = cursorObj.fetchall()
df=pd.DataFrame(rows,columns=['Landing_Outcome'])
df

        Landing_Outcome
0  Success (ground pad)
1  Success (ground pad)
2  Success (ground pad)
3  Success (ground pad)
4  Failure (drone ship)
5  Failure (drone ship)
6  Failure (drone ship)
7  Success (ground pad)
8  Failure (drone ship)
9  Failure (drone ship)

### Reference Links

*   <a href ="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20String%20Patterns%20-%20Sorting%20-%20Grouping/instructional-labs.md.html?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2021-01-01&origin=www.coursera.org">Hands-on Lab : String Patterns, Sorting and Grouping</a>

*   <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Built-in%20functions%20/Hands-on_Lab__Built-in_Functions.md.html?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2021-01-01&origin=www.coursera.org">Hands-on Lab: Built-in functions</a>

*   <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Sub-queries%20and%20Nested%20SELECTs%20/instructional-labs.md.html?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2021-01-01&origin=www.coursera.org">Hands-on Lab : Sub-queries and Nested SELECT Statements</a>

*   <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-3-SQLmagic.ipynb?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2021-01-01">Hands-on Tutorial: Accessing Databases with SQL magic</a>

*   <a href= "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-4-Analyzing.ipynb?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2021-01-01">Hands-on Lab: Analyzing a real World Data Set</a>

<h2>About the Authors:</h2> 

<a href="https://www.linkedin.com/in/vanchauerpax/">Chau Van</a> has a Msc in Computer Science, his research focused on using ML, AI, Blockchain, and computer vision to determine how videos impact human cognition. Chau Van has been working for Software Solutions J.S.C and Lecturer in Computer since he completed his Msc.

## Other Contributors

<h4> Rav Ahuja </h4>

## Change log

| Date       | Version | Changed by    | Change Description             |
| ---------- | ------- | ------------- | -------------------------------|
| 2021-08-30 | 0.4     | Chau Van      | Completed Task with Spacex.db  |
| 2021-08-24 | 0.3     | Lakshmi Holla | Added library update           |
| 2021-07-09 | 0.2     | Lakshmi Holla | Changes made in magic sql      |
| 2021-05-20 | 0.1     | Lakshmi Holla | Created Initial Version        |

## <h3 align="center"> Â© IBM Corporation 2021. All rights reserved. <h3/>